{% extends 'header.html' %}
{% block content %}

	{% if wallets %}
		<h2 class="walletNumber" id="{{ wallets|length }}">Your wallets:</h2>
		{% for wallet in wallets %}
			<a href="/wallet/{{ wallet.replace(".wallet", "") }}" class="wallet_{{ loop.index }}">{{  wallet.replace(".wallet", "") }}</a>
			<button hidden class="deleteButton_{{ loop.index }}"><span style="color: red;">Delete wallet</span></button>
			<br />
		{% endfor %}
		<button onclick="showDeleteButtons()">Show delete buttons</button> <button onclick="hideDeleteButtons()">Hide delete buttons</button>
	{% else %}
		<h2>You don't have wallets, create one</h2>
	{% endif %}
	
	<h3>Want to create a new wallet?</h3>
	<label for="walletName">Wallet name:</label>
	<input id="walletName" class="walletName" placeholder="Enter new wallet name..." type="text">
	<button class="createWalletButton">Create wallet</button>



	<script>
		try {
			const walletNumber = parseInt($('.walletNumber').get(0).id);
		} catch {
			console.log("No wallets");
		}

		$('.createWalletButton').on('click', (e) => {
			e.preventDefault();	
			let name = $('.walletName').val();
			console.log(name);
			$.ajax({
				type: "POST",
				url: "/create",
				data: JSON.stringify({"name": name}),
				success: (e) => {
					let data = JSON.parse(e)
					if (data.status == true) {
						location.pathname  = "wallet/"+name
					}
				}
			});
		});
		
		function showDeleteButtons() {
			for (let i = 0; i <= walletNumber; i++) {
				let button = $('.deleteButton_' + i);
				button.attr('hidden', false);

				let name = $('.wallet_'+i).html()
				button.on('click', (e) => {
					deleteWallet(name);
				});

			};
		}

		function hideDeleteButtons() {
			for (let i = 0; i <= walletNumber; i++) {
				$('.deleteButton_'+i).attr('hidden', true);
			}
		}

		function deleteWallet(name) {
			$.ajax({
				type: "POST",
				url: "/delete/" + name,
				success: (e) => {
					let data = JSON.parse(e);
					if (data.status == true) {
						alert("Wallet deleted succesfully");
						location.reload();
					} else {
						alert(data.message);
					}
				}

			})
		}

	</script>
{% endblock %}

