{% extends 'header.html' %} {% block content %} 

{% if wallet %}
<div class="row">
    <div class="info">
        <h3>Wallet name:
            <span class="walletName" style="font-weight: normal">{{ wallet.name }}</span>
        </h3>
        <h3>Wallet address:
            <span style="font-weight: normal" class="walletAddress">{{ wallet.address }}</span>
        </h3>
        <h3>Balance:
            <span class="balance" style="font-weight: normal">{{ wallet.balance }}</span>
        </h3>
    </div>

    <div class="transaction">
        <form class="transactionForm">
            <label for="address"></label>
            <input class="receiverAddress" id="address" type="text" placeholder="Enter address">
            <br>
            <label for="amount"></label>
            <input class="amount" id="amount" type="number" placeholder="Enter amount">
            <button class="send">Send transaction</button>
        </form>
    </div>
</div>

{% else %}
<h1>Wallet not found</h1>
{% endif %}

<script>
	
	function isFloat(n){
		return Number(n) === n && n % 1 !== 0;
	}


    $('.send').on('click', (e) => {
        e.preventDefault();
        let data = {
			name: $('.walletName').html(),
            sender: $('.walletAddress').html(),
            receiver: $('.receiverAddress').val(),
            amount: $('.amount').val()
        }
    
        if (data.amount == parseFloat($('.balance').html())) {
            let res = confirm("Are you sure you want to send all of your funds?")
            if (res) {
                sendTransaction(data);
            }
        } else {
            sendTransaction(data);
        }
        
        
    });

    function sendTransaction(data) {
        $.ajax({
            type: "POST",
            url: "/transaction",
            data: JSON.stringify(data),
            success: (e) => {
				let data = JSON.parse(e);
				if (data.status == true) {
					changeBalance(parseFloat(data.balance));
					alert("Transaction send succesfully")
				} else {
					alert(`ERROR: ${data.message}`);
				}
            }
        });
    }


	function changeBalance(num) {
		const balanceTag = $('.balance');
		let currentBalance = parseFloat(balanceTag.html());
		if (currentBalance !== num) {
			balanceTag.html(isFloat(num) ? num : num + ".0");
		}
	}

	setInterval(() => {
		console.log("Checking balance")
		$.ajax({
			type: "GET",
			url: "/balance/" + $('.walletName').html(),
			success: (e) => {
				let data = JSON.parse(e);
				let newBalance = parseFloat(data.message);
				if (data.status == true) {
					let currentBalance = parseFloat($('.balance').html());
					if (currentBalance != newBalance) {
						changeBalance(newBalance);
						alert("Transaction received");
					}
				}
			}

		})
	}, 5000);
	

</script> {% endblock %}
